body{
	/*background: #ECE9E6;  
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
*/	background: #8e9eab;  
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  
	background: linear-gradient(to right, #eef2f3, #8e9eab); 
	

	margin-top: 6em;
}
.box{
	
	background: snow;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
				 rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
				  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.pr{
	padding-right: 6.99em;
}
